    body {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
    }

    h1 {
      margin-bottom: 8px;
      color: #000000;
      text-align: center;
      font-size: 2rem;
    }

    .subtitle {
      color: #000000;
      text-align: center;
      margin-bottom: 20px;
      font-size: 2rem;
    }

    .map-wrapper {
       
      position: relative;
      max-width: 100%;
      width: 90%;
      border-radius: 14px;
      overflow: hidden;
      background: rgb(22, 86, 189);
    }

    .map-image {
      display: block;
      width: 100%;
      height: auto;
      opacity: 0;
    }

    .map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      padding-left: 10px;
    }

    .district {
      pointer-events: visiblePainted;
      transition: fill 0.3s ease;
    }

    .district:hover {
      fill: rgb(43, 158, 8);
      
    }

   

    

    

    